/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #DADA;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Form Styling */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

td:first-child {
    font-weight: bold;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .col-md-4 {
        margin-bottom: 20px;
    }

    input[type="text"], input[type="number"], button {
        width: 100%;
    }
}
